@model IEnumerable<MvcStudent.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Học Sinh</h2>
<form asp-controller="Students" asp-action="Index">
    <p>
        Tìm kiếm: <input type="text" name="SearchString" />
        <input type="submit" value="Done" />
    </p>
</form>
<p>
    <a asp-action="Create">Tạo Mới Dữ Liệu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Mã Học Sinh</label>
            </th>
            <th>
                <label>Tên Học Sinh</label>
            </th>
            <th>
                <label>Năm Sinh</label>
            </th>
            <th>
                <label>Địa Chỉ</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStudent">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.IdStudent">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
