@model MvcStudent.Models.GiaoVien

@{
    ViewData["Title"] = "Delete";
}

<h1> Xóa Dữ Liệu</h1>
<div>
    <h4>GiaoVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenGV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamSinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamSinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaGV" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
