@model IEnumerable<MvcStudent.Models.GiaoVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Giáo Viên</h1>

<p>
    <a asp-action="Create">Tạo Mới Dữ Liệu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Mã Giáo Viên</label>
            </th>
            <th>
                <label>Họ Tên Giáo Viên</label>
            </th>
            <th>
                <label>Năm Sinh</label>
            </th>
            <th>
                <label>Địa Chỉ</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaGV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenGV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaGV">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.MaGV">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
